.select
{
display:block;
text-align:center;
}
.select-item
{
display:inline-block;
color:#fff;
background-color:#3fada8;
border-radius:2px;
border:1px solid #3fada8;
cursor:pointer;
padding:4px 10px;
margin:5px;
transition:0.4s;
}
.select-item:hover,.select-item.select-item-active
{
background-color:#fff;
color:#3fada8;
}
#cards-container
{
display:block;
text-align:center;
padding:10px;
}
#cards-container .card
{
width:350px;
height:355px;
vertical-align:top;
border-radius:4px;
border:1px solid #ddd;
background:#fafafa;
padding:20px;
display:inline-block;
margin:10px;
overflow:hidden;
}

#cards-container .card img
{
/*height:130px!important;
width:110px!important;*/
width:auto;
padding:3px!important;
background:#fff;
margin:0!important;
margin-right:20px!important;
margin-bottom:20px!important;
}
#cards-container .card hr
{
margin:0;
margin-top:20px;
margin-bottom:10px;
background:-webkit-linear-gradient(left, rgba(192,192,192,0), rgba(192,192,192,0.75), rgba(192,192,192,0));
background:-moz-linear-gradient(left, rgba(192,192,192,0), rgba(192,192,192,0.75), rgba(192,192,192,0));
background:-ms-linear-gradient(left, rgba(192,192,192,0), rgba(192,192,192,0.75), rgba(192,192,192,0));
background:-o-linear-gradient(left, rgba(192,192,192,0), rgba(192,192,192,0.75), rgba(192,192,192,0));
background:linear-gradient(left, rgba(192,192,192,0), rgba(192,192,192,0.75), rgba(192,192,192,0));
clear:both;
}

@media screen and (max-width:500px)
{
#cards-container .card
{
width:80%;
}
}
}